html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('images/background.jpg') center center no-repeat;
    background-size: cover;
    background-color: #cccccc; /* Fallback color */
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.banner h1 {
    color: black;
    font-size: 6em; 
    font-family: 'Arial Black', Gadget, sans-serif; 
    background-color: #333333;
    padding: 20px; 
    border-radius: 10px; 
}
.logo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.logo img {
    max-width: 100%;
    height: auto;
}
.button {
    display: flex;
    justify-content: center;
}
.button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}